.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.swp
# ignore all logs
**.log

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
# Ignoring Test kitchen files
.kitchen/
.kitchen.local.yml
.kitchen.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
# test item

# Terraform items
.terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
aws-security/
attributes.yml
